# SPDX-License-Identifier: Apache-2.0

menu "Thrift"

config THRIFT
  bool "Enable support for Thrift"
  depends on CPLUSPLUS
  depends on LIB_CPLUSPLUS
  depends on STD_CPP17
  depends on EXCEPTIONS
  depends on POSIX_API
  depends on EVENTFD
  help
    Enable this option to support Apache Thrift
endmenu

module = THRIFT
module-str = THRIFT
source "subsys/logging/Kconfig.template.log_config"
