# Copyright 2022 Meta
# SPDX-License-Identifier: Apache-2.0

menu "Thrift"

config THRIFT
  bool "Enable support for Thrift"
  depends on CPLUSPLUS
  depends on LIB_CPLUSPLUS
  depends on STD_CPP17
  depends on EXCEPTIONS
  depends on (ARCH_POSIX && !POSIX_API) || (!ARCH_POSIX && POSIX_API)
  depends on (ARCH_POSIX && !EVENTFD) || (!ARCH_POSIX && EVENTFD)
  help
    Enable this option to support Apache Thrift

config THRIFT_ZLIB_TRANSPORT
  bool "Enable TZlibTransport support for Thrift"
  depends on THRIFT
  select THRIFT_ZLIB
  help
    Enable this option to support TZlibTransport for Thrift

endmenu

module = THRIFT
module-str = THRIFT
source "subsys/logging/Kconfig.template.log_config"
